#global {
  display: block;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 10%;
  right: 10%;
}
#inscription {
  width: 24%;
  margin-top: 10px;
  float: left;
}
#inscription h4{
  text-align: center;
  color: red;
}
#inscription h2{
  text-align: center;
}
.news {
  text-align: center;
}
.sub_inscription {
  text-align: center;
}

#connexion {
  width: 44%;
  margin-top: 10px;
  float: right;
  margin-right: 0;
}
#connexion h4{
  text-align: center;
  color: red;
}
#connexion h2{
  text-align: center;
}
.souvenir {
  text-align: center;
}
.sub_connexion {
  text-align: center;
}
