<<<<<<< HEAD
/*
 Feuille de Style générale, incluse dans toutes des pages
 Exclusivement réservé à une utilisation normale de DiamondCMS
 Copyright Aldric L. (GougDEV)
*/
/* Ces polices sont stockées "au cas où", mais on préfère les charger depuis l'API google font dans le header
@font-face {
  font-family:'BreeSerif';
  src: url('fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family:'Raleway-Light';
  src: url('fonts/Raleway-Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal
}
*/
body {
  line-height: 1.6;
  -ms-overflow-style: scrollbar;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
}

/*Global*/
#fh5co-page-title {
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#fh5co-page-title .overlay {
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}
#fh5co-page-title .text {
  position: relative;
  z-index: 9;
  color: #ffffff !important;
  padding-left: 10%;
}
#fh5co-page-title .text h1 {
  color: #197d62 !important;
  font-weight: bold;
}
.bree-serif {
  font-family: 'Bree Serif', serif;
  color: #197d62;
}
h1, h2, h3, h4, h5{
  font-family: 'Bree Serif';
}
p {
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
}
.bold {
  color: #197d62;
  font-weight: bold;
}
=======
body {
  background: #f4f4f4;
  margin: 0;
  line-height: 1;
  -ms-overflow-style: scrollbar;
  display: flex;
  flex-direction: column;
  /*font-family: "Trebuchet Ms";*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
>>>>>>> f73348d50b56501cae02d84fa1249082fe8b0232
.arr {
  border-radius: 15px;
}
.acc {
  border-color: #197d62;
  background-color: #197d62;
}
.acc:hover {
  border-color: #197d62;
  background-color: #197d62;
  opacity:0.8;
}
<<<<<<< HEAD
.no {
  text-decoration: none;
  color: white;
}
.no::hover {
  text-decoration: none;
  color: white;
}
.modal-header{
  background-color: #E5E5E5;
}
/*End Global */

/*Content Container, utilisé pour mettre en forme les pages */
.content-container {
  margin-left: 9%;
  margin-right: 9%;
  width: 82%;
  border-left: 1.8px dotted #197d62;
  border-right: 1.8px dotted #197d62;
  height: 100%;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 2%;
}
.content-container > p  {
  margin-left: 4%;
  margin-right: 4%;
}
.content-container > span  {
  margin-left: 4%;
  margin-right: 4%;
}
.content-container > table {
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
}
.content-container h1 {
  margin-left: 2%;
  margin-right: 2%;
}
.content-container h2 {
  margin-left: 2%;
  margin-right: 2%;
}
.content-container h3 {
  margin-left: 2%;
  margin-right: 2%;
}
.content-container h4 {
  margin-left: 2%;
  margin-right: 2%;
}
.content-container h5 {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 1200px){
  .content-container {
    margin-left: 9%;
    margin-right: 9%;
    height: 100%;
  }
}
@media (max-width: 992px){
  .content-container {
    margin-left: 9%;
    margin-right: 9%;
    height: 100%;
  }
}
@media (max-width: 768px){
  .content-container {
    margin-left: 9%;
    margin-right: 9%;
    height: 100%;
  }
}
/*END content-container */

/*NavBar */
@media (max-width: 979px){
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }
}
.navbar {
  height: 90px;
  background: #E5E5E5;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  filter: none;
}
.navbar-brand:hover {
  color: black;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
  color: #197d62;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand {
  color: #197d62;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 2.5em;
	text-transform: uppercase;
  font-family: "Bree Serif";
  vertical-align: top;  
}
.navbar-nav {
  letter-spacing: 1px;
}
li.dropdown.open > a.dropdown-toggle {
  padding-top: 20px;
}
li.dropdown.open > a.dropdown-toggle:hover {
  padding-top: 20px;
}
li.dropdown.open.compte > a.dropdown-toggle {
  padding-top: 0px;
}
li.dropdown.open.compte > a.dropdown-toggle:hover {
  padding-top: 0px;
}
li.dropdown.compte > a.dropdown-toggle {
  padding-top: 10px;
}
@media (min-width: 1400px){
  .navbar{
    padding-left: 14%;
    padding-right: 14%;
  }
  .navbar-brand {
    display: block;
  }
}
@media (min-width: 1200px){
  .navbar{
    padding-left: 6%;
    padding-right: 6%;
  }
  .navbar-brand {
    display: block;
  }
}
@media (max-width: 1200px){
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-brand {
    display: none;
  }
}
.navbar-nav > li > .compte {
  margin-right: 9px;
}

li.dropdown.open > a.server:focus {
  padding-top: 20px;
}

/* END navbar */
=======

/*FOOTER*/
footer{
  font-family: 'Bree Serif', serif;
  text-align: center;
  height: 60px;
  margin-top: auto;
  background: #fff;
  padding: 15px;
  font-size: 16px;
}
footer a {
  color: #197d62;
  font-weight: bold;
}
/*END FOOTER*/

#nav_bar_co {
  position: absolute;
  width: 100%;
  background-color: grey;
  height: 2.5em;
  display: block;
  margin: 0;
  top: 0;
}
#nav_bar_co p{
  font-family: 'Bree Serif', serif;
  margin: 0.2%;
    color: #197D62;
}
#nav_bar_co a{
  text-decoration: none;
  font-size: 1.2em;
  color: #FFF;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper{
	padding: 2em 0em;
	background: #FFF;
}

#header_menu
{
	position: relative;
	height: 60px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 0.3em;
	left: 7%;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
}

#logo span
{
	position: absolute;
	top: 1em;
	display: inline-block;
	padding-left: 1.50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a
{
	text-decoration: none;
	color: #197d62;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 5%;
	top: 1.1em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 60px;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu li.current_page_item a{
  border-radius: 10px;
	background: #197d62;
	color: #FFF !important;
}

#menu .icon
{
}

/*#bg {
  /*left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: auto;
  position: absolute;
  display: block;
  margin: auto;*//*
  margin:0;
  padding:0;
  background: url("web_font.png") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari
  background-size: cover; /* version standardisée */
  /*background-image: url("web_font.png");
}*/


#bree-serif {
  font-family: 'Bree Serif', serif;
}
>>>>>>> f73348d50b56501cae02d84fa1249082fe8b0232
