#nonify {
  border: 3px solid;
  border-radius: 69px;
  width: 40%;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: 30%;
  margin-right: 30%;
}

#nonifytext {
  margin: 8%;
  text-align: center;
}