/*
 Feuille de Style pour le support
 Exclusivement réservé à une utilisation normale de DiamondCMS
 Copyright Aldric L. (GougDEV)
*/
.center {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.border{
  width: 90px;
  border-right: 2px solid #197D62;
}
.content_ticket {
  width: 95%;
  margin-left: 2.3%;
  margin-right: 2.2%;
}