RewriteEngine on
RewriteCond %{REQUEST_URI} !^/views/uploads/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/ext/
RewriteRule ^([a-zA-Z0-9\-\_\~\ \/]*)$ index.php?p=$1

SetEnv ENV_HTACCESS_ALLOWED true

AddDefaultCharset UTF-8